body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #f9f4f0;
  color: #333;
}

header {
  background-color: #b3478f;
  color: white;
  text-align: center;
  padding: 2em 1em;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav {
  background-color: #f1d4e5;
  padding: 1em;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: #b3478f;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

.encabezado {
  display: flex;
  align-items: center;
  gap: 20px; /* Espacio entre logo y texto */
  flex-wrap: wrap;
}

.logo-derecha{
  width: 40px;
  height: 40px;
}

.texto-encabezado {
  flex: 1;
}

footer {
  background-color: #b3478f;
  color: white;
  text-align: center;
  padding: 1em;
}
